<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<!-- ======= web font ======= -->

<!-- 나눔스퀘어 -->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">

<!-- 나눔스퀘어라운드 -->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">

<!-- 나눔명조 -->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-myeongjo.css" rel="stylesheet">

<!-- 나눔바른펜 *** 사용 중(카테고리, 테그 폰트)-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-pen.css" rel="stylesheet">

<!-- 마루부리 *** 사용 중(default)-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css" rel="stylesheet">

<!-- 네이버 d2 conding *** 사용 중(코드)-->
<link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic-coding.css" rel="stylesheet">

<!-- end custom head snippets -->
